<div class="main-header">
    <div class="menu-icon">
        <!-- <a  data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"> -->
        <img src="../../assets/icon-menu.svg" alt="icon-menu">
  </div>
    <!-- <div class="img-logo"> -->
        <img src="../../assets/logo.svg" alt="logo">
    <!-- </div> -->


    <!-- <input type="text"> -->


    <img src="../../assets/icon-delete.svg" alt="icon-delete">

    <button class="button-save">
      <img src="../../assets/icon-save.svg" alt="icon-save">
      Save Changes
    </button>
</div>
<div class="markdown-header">
  <div class="sub-body">
    <p>MARKDOWN</p>
  </div>
</div>
<!-- <div class="preview-header">
    <p>PREVIEW</p>
</div> -->

