<div class="main-header">
  <div class="menu-icon" (click)="toggleSidebar()">
    <img *ngIf="!isSidebarOpen" src="../../assets/icon-menu.svg" alt="icon-menu">
    <img *ngIf="isSidebarOpen" src="../../assets/icon-close.svg" alt="close">
  </div>


  <div class="sidebar" [class.open]="isSidebarOpen"> 
    <div class="sidebar-margin">
  <p>MY DOCUMENT</p>
  <button class="sidebar-btn">+ New Document</button>
  </div>
  <!-- <div class="theme-container"> -->
    <!-- <div class="themeChanger"> --> 
    <!-- <img src="../../assets/icon-dark-mode.svg" alt="#">
    <label class="switch">
      <input
        type="checkbox"
        id="themeToggle"
        (click)="switchThemeService.switchTheme()"
      />
      <span class="slider round"></span>
    </label>
    <img src="../../assets/icon-light-mode.svg" alt="#">
    </div> -->
  <!-- </div> -->
  </div>
  <div class="content" (click)="closeSidebar()">
  </div>

  
    <img src="../../assets/logo.svg" alt="logo">

<div class="header">
  <div class="input-container">
    <div class="input-img">
      <p>Document Name</p>
      <img src="../../assets/icon-document.svg" alt="document" style="padding-top: 0.5rem;">
      <input type="text" [(ngModel)]="inputValue" placeholder="welcome.md">
    </div>
  </div>
</div>
      
  
      
    



  <div class="container">
    <img src="../../assets/icon-delete.svg" alt="icon-delete" style="margin-right: -18rem; cursor: pointer;" (click)="openPopup()">
  </div>
  
  <div class="popup" *ngIf="isPopupOpen">
    <div class="popup-content">
      <h3>Delete this document</h3>
      <p>Are you sure you want to delete the 'welcome.md' document and its content?<br> This content cannot be reversed</p>
      <button (click)="confirmDelete()">Confirm and delete</button>
    </div>
  </div>
    <button class="button-save">
      <img src="../../assets/icon-save.svg" alt="icon-save">
      Save Changes
    </button>
    </div>

<div class="full-content">
    <div class="markdown-header">
        <div class="sub-body">
          <p>MARKDOWN</p>
      
        </div>
          <div class="markdown-input">
          <p *ngFor="let item of document">{{item.content}}</p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum excepturi sequi tempora temporibus! Molestias doloribus distinctio harum culpa ullam praesentium, nulla voluptates, aut veniam, ipsa delectus tempore ut voluptatibus architecto.
          </div>
        </div>
        
      <div class="line"></div>
      <div class="markdown-preview">
          <div class="sub-body">
            <p>PREVIEW</p>
            <img src="../../assets/icon-show-preview.svg" alt="icon-show-preview" style="padding-right: 2rem; cursor: pointer;">
        
          </div>
           <div class="preview-body">
           Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam expedita magnam maxime iure repellendus minima veritatis quisquam debitis natus cupiditate, dignissimos, quasi optio vero quam repellat quo deleniti at nemo?
          </div>
        </div>
      
</div>

